<!DOCTYPE html>
<html>
<head>
<title>Songuuli 2020</title>
</head>
<body>
<h1>{{ data.title }}</h1>
<form action="/hello">
  <label for="username">Таны нэр: </label>
  <input type="text" id="username" name="username"><br>
  <label for="constituency">Таны тойрог: </label>
  <select id="constituency" name="constituency">
  {% for e in data.constituencies %}
     <option value="{{e.number}}"> {{ e.number }} - {{ e.province }} </option>
  {% endfor %}
  </select><br/>
  <input type="submit" value="Нэвтрэх" />
</form>
<br>
<form action="/results">
  <label for="results_constit">Саналаа өгмөөргүй байна, харин үр дүнг сонирхоё -> </label>
  <input type="submit" value="энд дар" />
</form>
</body>
</html>
