<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpe Diem</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Solarized colors CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>

    <header class="bg-dark text-white text-center py-5">
        <h1>Welcome: Тавтай морил!</h1>
        <p class="lead">Хувийн ажлын цуглуулга</p>
    </header>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <section>
                    <h2>About: Энэ сайтын талаар</h2>
                    <p>Туршилтын вэб сайт. 'Ажлууд' цэсэнд хувийн зарим ажлыг багтаав.</p>
                </section>
            </div>
            <div class="col-md-6">
                <section>
                    <h2>Projects: Ажлууд</h2>
                    <ul>
                        <li>Цагаан сар</a></li>
                        <ul>
                            <li><a href="{{ url_for('tsagaan_sar') }}">Мөр гаргах</a></li>
                            <li><a href="https://www.math.mcgill.ca/gantumur/cal/year.html">Билгийн тооллын цагалбар (Гантөмөрийн ажил)</a></li>
                        </ul>
                        <li>УИХ сонгууль</a></li>
                        <ul>
                            <li><a href="{{ url_for('election2020') }}">2020 оны сонгууль</a></li>
                        </ul>
                        <li>Гар доорх эмбэддэд систем</li>
                        <ul>
                            <li>Бага чадлын вэб сервер</li>
                            <li><a href="https://github.com/ebold/myflask/">Энэ сайтын эх код</a></li>
                        </ul>
                        <li>Бусад</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Энэ сайтыг бүтээхэд Flask, Bootstrap зэрэг технологийг ашиглав. Одоогоор зохиогчийн ямар ч эрхгүй болно.</p>
    </footer>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
