<!DOCTYPE html>
<html>
<head>
<title>{{ data.question }}</title>
</head>
<body style="background-color:#c2b280;">
<h1>{{ data.question }}</h1>
<h3> Тойргийн дугаар: {{ data.constituency  }}</h3>
<h3> Тойргийн нэр: {{ data.province }}</h3>
<h3> Мандатын тоо: {{ data.mandates }}</h3>
<form action="/poll">
  {% for e in data.candidates %}
     <input type="checkbox" id="{{e}}" name="field{{ e }}" value="{{ e }}"> {{ data.candidates[e].name }} - {{ data.candidates[e].party }}<br>
  {% endfor %}
     <input type="hidden" name="mandates" value="{{ data.mandates }}">
     <input type="hidden" name="constituency" value="{{ data.constituency }}">
  <input type="submit" value="Илгээх" />
</form>
</body>
</html>
